.btn {
    border-radius: 40px;
    border: 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.btn--primary {
    background: dodgerblue;
    color: white;
}

.btn--primary:hover {
    background-color: rgb(5, 56, 110);
}

.btn--secondary {
    background: darkturquoise;
    color: white;
}

.btn--secondary:hover {
    background: rgb(2, 155, 158);
}

.btn--accent {
    background: orangered;
    color: white;
}

.btn--accent:hover {
    background-color: rgb(192, 53, 3);
}

.btn--outline {
    background: #fff;
    color: black;
    border: 2px solid black;
}

.btn--outline:hover {
    background: black;
    color: #fff;
}

.btn--block {
    width: 100%;
    display: inline-block;
}